# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
tmp/
bin/

# Environment
app.env
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# PDF / data
data/assets/
